.menu-card{
    background-color: $color-bg-light;
    border-radius: 3.125rem 3.125rem 0 0;
    padding:2.3*$padding $padding;
    margin-top: -50px;
    position: relative;
    z-index:1;
    @include tablet{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    @include desktop{
        max-width: 87.5rem;
    }

    &__img{
        width: 100%;
        object-fit: cover;
        max-height: 300px;
    }
    &__container{
        display: grid;
        
        @include desktop{
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2.5rem;
            width:100%;
        } 
    }

    &__header{
        display: grid;
        grid-template-columns: 1fr 5rem;
        @include tablet{
            width:90%;
            margin: auto;
        }
    }

    &__icon{
        @include heart;
        align-self: center;
        justify-self:center;
    }
    
    &__subcontainer{
        display:grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-row-gap: 1.5rem;        
        padding-top: 2*$padding; 
        @include tablet-Only{
            width:80%;
            margin:auto;
        }
    } 
    
    &__info-container{
        display:flex;
        background-color: $color-bg-card;
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;

    // animation cards
    animation: cards 0.5s 1 both;
    @for $i from 1 through 4{
        &:nth-child(#{$i}) {
            animation-delay:$i*0.15s;
        }
    }
    
    //    animation check menu

        &:hover .menu-card__check{
            margin-right: 0;
            width: 60px;
            }
        &:hover .menu-card__container-icon-check{
            transform: rotate(0deg);
        }
       
    }
    &__subtitle{
        width: 2.375rem;
        padding-bottom: 0.25*$padding;
        border-bottom: solid 3px $color-tertiary;
    }
    &__info{
        padding: 0.5*$padding;
        flex:1;
        overflow: hidden;
    }
    &__sub-subtitle{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__txt{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price{
        align-self: flex-end;
        padding: 0.5*$padding $padding;
    }
    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        margin-right: -35px;
        background-color: $color-tertiary;
        border-radius: 0 1rem 1rem 0;
        transition: all 0.2s ease-out;  
    }
    &__container-icon-check{
        width:1.3rem;
        height:1.3rem;
        transform: rotate(-360deg);
        transition: transform 0.25s linear;        
    }
    &__icon-check{
        font-size: 1.3rem;
        padding-right: 0;
        color: white;
        
    }
    &__btn-container{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.3*$padding;
    }
    &__btn{
         
         padding:0.8*$padding 2.3*$padding;
    }
    
}
@keyframes cards {
    0%{
        opacity:0;
        transform: translateY(20px);
    }
    30%{
        opacity: 0.5;
    }
    65%{
        opacity: 0.7;
    }
    100%{
        opacity:1;
    }

}


